<!doctype html>
<html ng-app="LunchCheck">

<head>
  <title>Lunch Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .message {
      font-size: 1.3em;
      font-weight: bold;
    }
  </style>
  <script src="angular.min.js"></script>

  <script src="app.js"></script>

</head>

<body>
  <div ng-controller="LunchCheckController">
    {{name}}
    <div class="container">
      <h1>Lunch Checker</h1>

      <div class="form-group">
        <input ng-model="input_text_multi_line" id="lunch-menu" type="text"
          placeholder="list comma separated dishes you usually have for lunch" class="form-control">
      </div>
      <div class="form-group">
        <button ng-click="checkTooMuch(input_text_multi_line)" class="btn btn-default">Check If Too Much</button>
      </div>
      <div class="form-group message" ng-show="message" >
        
        <span ng-style="{'color': fontcolor, 'border' : '1px solid', 'border-color' : bordercolor, 'padding' : '3px'  }"> 

          {{ message }}
        </span>

      </div>
    </div>

  </div>


</body>

</html>